extends ../layout

block content
  div(class="page-header")
    a(href='shows/new' class="btn btn-success pull-right") Add New Show
    h1 My Shows

  ul(class="list-group")
    each show in shows
      if show.watched
        li(class="list-group-item")
          a(href="shows/" + show.id) #{show.title} (Seasons: #{show.seasons}) - watched
      else
        li(class="list-group-item")
          a(href="shows/" + show.id) #{show.title} (Seasons: #{show.seasons}) - unwatched
