extends ../layout

block content
  div(class="page-header")
    a(href='/shows/' + show.id + '/edit' class='btn btn-success pull-right') Edit show
    h1= show.title

  ol(class="breadcrumb")
    li
      a(href="/shows") My Shows
    li(class="active")= show.title

  if show.watched
    p Seasons: #{show.seasons} - watched
  else
    p Seasons: #{show.seasons} - unwatched
